html, body {
	margin:0;
	padding:0;
	font-family:'Open Sans', sans-serif;
	background-color: rgba(126, 125, 142, 0.2);
}

h2 {
	color: black;
	

}

.gallery {
	list-style: none;
	width: 90%;
}



.photo  {
	
}

p {
   color: #302D2D ;
   font-weight: 300;
   border: 1px solid black;
   width: 50%;
   

}

.meta {
	font-size: 0.5rem;
}


